---
import GlowingButton from "../components/GlowingButton.astro"
import NavigationBar from "../layout/NavigationBar"
import Technologies from "../layout/Technologies.astro"
import Hero from "../layout/Hero.jsx"
import AboutMe from "../layout/AboutMe.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preload" href="/path/to/vanta.net.min.js" as="script">
		<title>T</title>
	</head>
	<body>
		<Hero client:visible></Hero>
		<AboutMe></AboutMe>	
	</body>
</html>

<style>
	*{	
		background-color: white;
	}

	.GlowingButton{
		margin-top: 35vh;
	}

	.Technologies{
		margin-top: 45vh;
	}

	html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
}
</style>
