---
import GlowingButton from "../components/GlowingButton.astro"
import NavigationBar from "../layout/NavigationBar"
import Technologies from "../layout/Technologies.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>T</title>
	</head>
	<body>
		<NavigationBar client:load></NavigationBar>
		<GlowingButton class="GlowingButton"></GlowingButton>	
		<Technologies></Technologies>	
		
	</body>
</html>

<style>
	*{
		background-color: white;
	}

	.GlowingButton{
		margin-top: 35vh;
	}
</style>
