---
import NavigationBar from "../layout/NavigationBar.jsx"
import GlowingButton from "../components/GlowingButton.astro"

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<NavigationBar client:load ></NavigationBar>
		<GlowingButton></GlowingButton>		
	</body>
</html>

<style>
	*{
		background-color: black;
	}
</style>
