---
import '../styles/global.css';
import '@fontsource/roboto';

const { class: className, ...rest } = Astro.props;

---
<div class={`${className}`} {...rest}></div>

<script>
        const observer = new IntersectionObserver((entries) => {
        entries.forEach(entry => {
            console.log(entry);
            if(entry.isIntersecting){
                entry.target.classList.add('show');
            } else {
                entry.target.classList.remove('show');
            }
        });
    });

    const hidenElements = document.querySelectorAll('.hide');
    hidenElements.forEach((element => observer.observe(element)));
</script>

<section>
    
        <h2 class=" font-roboto">LANGUAGES</h2>
    
    <div class="logos">
        <div class="logo hide">
            <img src="/javascript.svg" alt="JavaScript">
        </div>
        <div class="logo hide">
            <img src="/typescript.svg" alt="Typescript">
        </div>
        <div class="logo hide">
            <img src="/python.svg" alt="Python">
        </div>
        </div>
    </div>
</section>


<style>
    section{
        display: grid;
        place-items: center;
        align-content: center;
    }
    h2{
        color: black;
        text-align: center;
        font-family: "Roboto";
        font-weight: 900;
        font-size: 2rem;
    }

    .hide{
        opacity: 0;
        filter: blur(5px);
        transform: translateX(-100%);
        transition: all 1s;
    }

    .show{
        opacity: 1;
        filter: blur(0 );
        transform: translateX(0);
    }
    
    .logos{
        display: flex;
    }

    .logo:nth-child(2){
        transition-delay: 200ms;
    }

    .logo:nth-child(3){
        transition-delay: 400ms;
    }

</style>